streamlit>=1.32
pandas>=2.0
numpy>=1.24
plotly>=5.20
gspread==5.12.4
google-auth>=2.27.0
google-auth-httplib2>=0.2.0
google-auth-oauthlib>=1.2.0
python-dateutil>=2.8.2
requests>=2.31
matplotlib>=3.7
gspread-dataframe>=3.3
